<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">NodeBlog &copy; 2017</a>
      </div>
      <ul class="nav navbar-nav">
        
      </ul>
    </div>
  </nav>