
<!-- <img src="/images/grid.png" alt=""> -->
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel='stylesheet' href='/stylesheets/style.css' />

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Mega Flow</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li> <a href="/users/login">Login</a> </li>
        <li> <a href="/users/register">Register</a> </li>
        <li><a href="/view_recent_posts">View Recent Posts</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      

    </div>
  </nav> 

  
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/jquery-3.2.1.js"></script>
  