<div class="sidebar" style="position:fixed;" data-color="brown" data-image="/images/sidebar-5.jpg" fixed>
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="/users/dashboard" class="simple-text">
            MegaFlow
        </a>
    </div>

    <ul class="nav">
        <li
        <% if(name === 'dashboard'){ %>
            class="active"
        <% }else{ %>
            class=""
        <% }%>
        >
            <a href="/users/dashboard">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li 
            <% if(name === 'profile'){ %>
                class="active"
            <% }else{ %>
                class=""
            <% }%>
        >
            <a href="/users/profile">
                <i class="pe-7s-user"></i>
                <p>User Profile</p>
            </a>
        </li>
        <li
        <% if(name === 'Posts'){ %>
            class="active"
        <% }else{ %>
            class=""
        <% }%>
        >
            <a href="/users/posts">
                <i class="pe-7s-note2"></i>
                <p>View My Posts</p>
            </a>
        </li>

        <li
        <% if(name === 'Add Post'){ %>
            class="active"
        <% }else{ %>
            class=""
        <% }%>
        >
            <a href="/users/add_post">
                <i class="pe-7s-note2"></i>
                <p>Add Post</p>
            </a>
        </li>
        <li>
                <a href="/users/logout">
                    <i class="pe-7s-note2"></i>
                    <p>logout</p>
                </a>
        </li>
        
    </ul>
</div>
</div>