<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
</head>
<body>
        <%- include('./partials/not_user_header') %>
        <div class="container">
                <form class="well" method="post" id="registerForm" action="/register" enctype="multipart/form-data" role="form">

                    <h4 class="text-center">Please Register to get Started</h4>
                    <center>
                      <div class="alert" style="display:none;">

                      </div>
                    </center>
                    <div class="form-group">
                            <label for="firstname">Firstname:</label>
                            <input type="text" class="form-control" id="firstname" placeholder="Firstname" name="firstname">
                          </div>
                          <div class="form-group">
                                <label for="lastname">Lastname:</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Lastname" name="lastname">
                              </div>
                              <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Confirm Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="Confirm Password" name="password2">
                            </div>
                            <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                                  </div>

                        <div class="form-group">
                          <label for="email">Email address:</label>
                          <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                        </div>
                        <div class="form-group">
                          <label for="picture">Upload a photo:</label>
                          <input type="file" class="form-control" id="photo" name="photo">
                        </div>
                        <div class="text-center">
                            <button type="submit" id="submit" class="btn btn-primary ">Submit</button>
                        </div>
                        
                      </form> 
         </div>

         <%- include('./partials/footer') %>
     <script src="/javascripts/jquery-3.2.1.js"></script>
     <script src="/javascripts/bootstrap.js"></script>

     <script>
       $('#registerForm').submit((e)=>{
         e.preventDefault();
         
         var form = $('#registerForm')[0];
	        var data = new FormData(form);
         $('#submit').text('Please wait...').attr('disabled',true);
         $.ajax({
           type:'POST',
           enctype:'multipart/form-data',
           url: '/register',
           data: data,
           processData: false, //prevent jQuery from automatically transforming the data into a query string
            contentType: false,
            cache: false,
           success:function(data){
             if(data['status'] == 0){
               $('.alert').text(data['message']).removeClass('alert-success').addClass('alert-danger').css('display','inline');
               $('#submit').text('Submit').attr('disabled',false);
             }else{
              $('.alert').text(data['message']).removeClass('alert-danger').addClass('alert-success').css('display','inline');
              setTimeout(()=>{
                window.location ='/login';
              },3000)
             }
           },
           error: function(xhr){
             console.log(xhr);
           }
         })
       })
     </script>
     
</body>
</html>


     