<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
</head>
<body>
        <%- include('../partials/not_user_header') %>
        <div class="container">

            
                <form accept-charset="UTF-8" class="well" method="post" action="/users/change_password" role="form">
                    <h3>Change Password</h3>
                    <center>
                        
                    <% if(errors){ %>
                        <% errors.forEach(function(error){ %>
                            <div class="alert alert-danger" > <b>

                            
                               <%= error.msg %>
                            </b>
                            </div>
                        <% }) %>
                    <% } %>
                    </center>
                        <div class="form-group">
                          <label for="password1">Old Password</label>
                          <input type="password" class="form-control" id="password1" placeholder="Old Password" name="password1">
                        </div>
                        <div class="form-group">
                          <label for="password2">New Password</label>
                          <input type="password" class="form-control" id="password2" placeholder="New Password" name="password2">
                        </div>
                        <div class="form-group">
                            <label for="password3">Confirm New Password</label>
                            <input type="password" class="form-control" id="password3" placeholder="Confirm New Password" name="password3">
                          </div>

                          <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        
                      </form>
         </div>

         <%- include('../partials/footer') %>
    
     <script src="/javascripts/bootstrap.js"></script>
     <script src="/javascripts/jquery-3.2.1.js"></script>
</body>
</html>


     