<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
</head>
<body>
        <%- include('../partials/not_user_header') %>
        <div class="container">
                <form class="well" method="post" action="/users/register" enctype="multipart/form-data" role="form">

                    <h4 class="text-center">Please Register to get Started</h4>

                    <center>
                      
                  <% if(errors){ %>
                      <% errors.forEach(function(error){ %>
                          <div class="alert alert-danger" >
                             <%= error.msg %>
                          </div>
                      <% }) %>
                  <% } %>
                  <% if(success){ %>
                    <div class="alert alert-success" >
                      You have been successfully registered
                   </div>
                  <% } %>
                  </center>
                    <div class="form-group">
                            <label for="firstname">Firstname:</label>
                            <input type="text" class="form-control" id="firstname" placeholder="Firstname" name="firstname">
                          </div>
                          <div class="form-group">
                                <label for="lastname">Lastname:</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Lastname" name="lastname">
                              </div>
                              <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Confirm Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="Confirm Password" name="password2">
                            </div>
                            <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                                  </div>

                        <div class="form-group">
                          <label for="email">Email address:</label>
                          <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                        </div>
                        <div class="form-group">
                          <label for="picture">Upload a photo:</label>
                          <input type="file" class="form-control" id="photo" name="photo">
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox"> Remember me</label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary ">Submit</button>
                        </div>
                      </form> 
         </div>

         <%- include('../partials/footer') %>
    
     <script src="/javascripts/bootstrap.js"></script>
     <script src="/javascripts/jquery-3.2.1.js"></script>
</body>
</html>


     