<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
</head>
<body>
        <%- include('../partials/not_user_header') %>
        <div class="container">

            
                <form accept-charset="UTF-8" class="well" method="post" action="/users/reset_password" role="form">
                    <h3>Reset Password</h3>
                    <center>
                        
                    <% if(errors){ %>
                        <% errors.forEach(function(error){ %>
                            <div class="alert alert-danger" > <b>
                               <%= error.msg %>
                            </b>
                            </div>
                        <% }) %>
                    <% } %>
                    <% if(success){ %>
                        <div class="alert alert-success" > <b>
                            Your Password has been reset. Your new password has been sent to your email
                         </b>
                         </div>
                    <% } %>
                    </center>

                    <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </div>

                </form>

         <%- include('../partials/footer') %>
    
     <script src="/javascripts/bootstrap.js"></script>
     <script src="/javascripts/jquery-3.2.1.js"></script>
</body>
</html>


     